.for-ul::-webkit-scrollbar-button {


    width:6px;
    height:0px
    }
    
    .for-ul::-webkit-scrollbar-track {
    background-color:#32312e;
    box-shadow:0px 0px 3px #000 inset;
    }
    
    .for-ul::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color:#36369e;
    box-shadow:0px 1px 1px #fff inset;
    background-image:url('https://yraaa.ru/_pu/24/59610063.png');
    background-position:center;
    background-repeat:no-repeat;
    }
    
    .for-ul::-webkit-resizer{
    background-image:url('');
    background-repeat:no-repeat;
    width:7px;
    height:0px
    }
    
    .for-ul::-webkit-scrollbar{
    width: 11px;
    }